@using WebMatrix.WebData
@if (WebSecurity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div id="navbar" class="navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Mi cuenta</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/Manage/Index">Mi perfil</a></li>
                    <li><a href=/Account/Logout>Salir</a></li>
                </ul>
            </li>
        </ul>
    </div>
    }
}
else
{
    <div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
        <ul class="fh5co-special" data-offcanvass="yes">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>
    </div>
}


@*<div id="navarea">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav custom_nav">
                    <li class=""><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Archives</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="pages/archive-main.html">Archive</a></li>
                            <li><a href="pages/archive1.html">Archive 1</a></li>
                            <li><a href="pages/archive2.html">Archive 2</a></li>
                            <li><a href="pages/archive3.html">Archive 3</a></li>
                        </ul>
                    </li>
                    <li><a href="pages/single.html">Single page</a></li>
                    <li><a href="pages/contact.html">Contact</a></li>
                    <li><a href="pages/404.html">404 page</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>*@
