@using WebMatrix.WebData
@if (WebSecurity.IsAuthenticated)
{
    if (Roles.IsUserInRole("admin"))
    {
        <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Actividades</a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="Person/Create">Cargar nuevo personal</a></li>
        </ul>
    }
    else
    {
        if (Roles.IsUserInRole("lawyer"))
        {
            <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Actividades</a>
            <ul class="dropdown-menu" role="menu">
                <li onmouseover="changeTo(this)" onmouseout="changeBack(this)"><a class="list-group-item" href="/CourtCase/Index">Casos judiciales </a></li>
                <li onmouseover="changeTo(this)" onmouseout="changeBack(this)"><a class="list-group-item" href="/CourtCase/Create">Agregar nuevo caso </a></li>
                <li onmouseover="changeTo(this)" onmouseout="changeBack(this)"><a class="list-group-item" href="#"> Notificaciones </a></li>
            </ul>
            
        }
        else
        {
            if (Roles.IsUserInRole("employee"))
            {
                <li><a class="list-group-item" href="#">Yo no puedo hacer nada, me logeo de onda</a></li>
            }
            else
            {
                if (Roles.IsUserInRole("client"))
                {
                    <li><a class="list-group-item" href="/CourtCase/Index" >Mis casos</a></li>
                    
                }
                else
                {
                    if (Roles.IsUserInRole("secretary"))
                    {
                        <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Actividades</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="list-group-item" href="CourtBrach/Create">Nueva rama de alcance</a></li>
                            <li><a class="list-group-item" href="News/Create">Nueva noticia</a></li>
                        </ul>                        
                    }
                }
            }
        }
    }
}
@*<script>
function changeTo(x) {
    x.style.backgroundColor = "blue";
}

function changeBack(x) {
 	x.style.backgroundColor = "white";
}
</script>*@