@using WebMatrix.WebData
@if (WebSecurity.IsAuthenticated)
{
    if (Roles.IsUserInRole("admin"))
    {
        <li class="dropdown">
            <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false"><u>Actividades</u></a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="list-group-item" href="~/Person/Create">Cargar nuevo personal</a></li>
                <li><a class="list-group-item" href="~/Home/Edit">Editar datos del estudio</a></li>
                <li><a class="list-group-item" href="~/CourtCase/Index">Ver los casos judiciales</a></li>
            </ul>
        </li>
    }
    else
    {
        if (Roles.IsUserInRole("lawyer"))
        {
            <li class="dropdown">
                <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false"><u>Actividades</u></a>
                <ul class="dropdown-menu" role="menu">
                    <li ><a class="list-group-item" href="~/CourtCase/Index">Mis casos judiciales </a></li>
                    <li ><a class="list-group-item" href="~/CourtCase/Create">Agregar nuevo caso </a></li>
                    <li ><a class="list-group-item" href="~/Query/Index"> Mis consultas</a></li>
                </ul>
            </li>

        }
        else
        {
            if (Roles.IsUserInRole("employee"))
            {
                
            }
            else
            {
                if (Roles.IsUserInRole("client"))
                {
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false"><u>Actividades</u></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="list-group-item" href="~/CourtCase/Index">Mis casos</a></li>
                            <li><a class="list-group-item" href="~/Query/Index"> Mis consultas</a></li>
                        </ul>

                    </li>

                }
                else
                {
                    if (Roles.IsUserInRole("secretary"))
                    {
                        <li class="dropdown">
                            <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false"><u>Actividades</u></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="list-group-item" href="~/CourtBranch/Create">Nueva rama de alcance</a></li>
                                <li><a class="list-group-item" href="~/News/Create">Nueva noticia</a></li>
                                <li><a class="list-group-item" href="~/Home/Edit">Editar datos de la empresa</a></li>
                            </ul>
                        </li>
                    }
                }
            }
        }
    }
}