@model KnxProject_Franco.CONTRACTS.Entities.PersonModel
@{
    ViewBag.Title = "Mi Perfil";
}
@if (WebSecurity.IsAuthenticated && Roles.IsUserInRole("client"))
{
        <h2>@ViewBag.Title.</h2>

        @Html.AntiForgeryToken()
        <div>
            <h4>Cambia los datos de tu cuenta</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [ @Html.ActionLink("Cambia tu contraseña", "ChangePassword") ]
                </dd>
                <dt>Perfil:</dt>
                <dd>[ @Html.ActionLink("Edita tu perfil", "ChangeProfile") ]</dd>
            </dl>
        </div>
}



